
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #pano{
        float: left;
        height: 100%;
        width: 100%;
      }
      h1{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 30px;
        letter-spacing: 0px;
        word-spacing: 0px;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        text-align: center
      }
      #description1, #description2{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 15px;
        letter-spacing: 0px;
        word-spacing: 0px;
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-align: left
      }
      #butt{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        background-color:#08F;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 8px;
      }

      .opacity-1 {
        opacity:0.8!important;
      }

      .opacity-0 {
        opacity:0!important;
      }

      .unclickable {
        pointer-events: none;
      }